In [1]:
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from src.statistical_analysis import utils
from src import config
from src.statistical_analysis.business.DistanceFocusingLogic import cut_tail

%matplotlib inline

In [2]:
df = utils.get_all_valid_subject_data_df()
rois = utils.get_aggregated_roi_df()

In [3]:
# roi_drop_movies = set(rois.index) - set(config.valid_movies)
# distance_drop_movies = roi_drop_movies.union({
#     f'mov{idx}' for idx in range(config.num_repeating_movies + 1, config.total_recorded_movies + 1)})
# valid_rois = rois.drop(roi_drop_movies)
# valid_df = df.drop(index=distance_drop_movies, level=config.MOVIE, errors='ignore')
valid_df = df
valid_rois = rois

In [4]:
valid_df.head()

                                         Measured Eye  Pupil radius   X_gaze  \
Subject Session   Movie Memory TimeStamp
AM45    Session A mov1  -4.0   468               BOTH        4942.0  1077.50
                               470               BOTH        5111.5  1081.75
                               472               BOTH        5262.0  1085.75
                               474               BOTH        5405.5  1088.00
                               476               BOTH        5543.0  1085.25

                                           Y_gaze  is Blink  is Fixation  \
Subject Session   Movie Memory TimeStamp
AM45    Session A mov1  -4.0   468        1057.00      True        False
                               470         996.75      True        False
                               472         941.25      True        False
                               474         889.00      True        False
                               476         841.25      True        False

                                             Distance        DVA
Subject Session   Movie Memory TimeStamp
AM45    Session A mov1  -4.0   468        1090.056535  18.845310
                               470        1047.103445  18.078720
                               472        1009.178193  17.400632
                               474         973.932749  16.770714
                               476         939.515367  16.159015

In [5]:
df = cut_tail(valid_df, valid_rois)

In [6]:
relevant_couples = set(zip(df.index.get_level_values(config.SUBJECT),
                           df.index.get_level_values(config.MOVIE)))
series_id_df = pd.DataFrame(relevant_couples, columns=[config.SUBJECT, config.MOVIE])
series_id_df['series_id'] = series_id_df.index
series_id_df

    Subject  Movie  series_id
0      MA40  mov28          0
1      KD59  mov15          1
2      MA40  mov38          2
3      FY25  mov25          3
4      FY25   mov9          4
..      ...    ...        ...
905    KR13  mov45        905
906    BO03  mov60        906
907    MA40  mov39        907
908    BO03  mov62        908
909    MN37  mov16        909

[910 rows x 3 columns]

In [7]:
df = df.reset_index()
df

,Subject,Session,Movie,Memory,TimeStamp,Measured Eye,Pupil radius,X_gaze,Y_gaze,is Blink,is Fixation,Distance,DVA
0,AM45,Session A,mov1,-4.0,468,BOTH,4942.0,1077.50,1057.00,True,False,1090.056535,18.845310
1,AM45,Session A,mov1,-4.0,470,BOTH,5111.5,1081.75,996.75,True,False,1047.103445,18.078720
2,AM45,Session A,mov1,-4.0,472,BOTH,5262.0,1085.75,941.25,True,False,1009.178193,17.400632
3,AM45,Session A,mov1,-4.0,474,BOTH,5405.5,1088.00,889.00,True,False,973.932749,16.770714
4,AM45,Session A,mov1,-4.0,476,BOTH,5543.0,1085.25,841.25,True,False,939.515367,16.159015
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6192400,ZN05,Session B,mov9,4.0,5990,RIGHT,5225.0,1002.00,168.00,False,True,966.786947,13.690241
6192401,ZN05,Session B,mov9,4.0,5992,RIGHT,5230.0,1002.60,168.00,False,True,966.215380,13.682199
6192402,ZN05,Session B,mov9,4.0,5994,RIGHT,5231.0,1003.20,168.00,False,True,965.643847,13.674159
6192403,ZN05,Session B,mov9,4.0,5996,RIGHT,5228.0,1003.20,168.00,False,True,965.643847,13.674159
6192404,ZN05,Session B,mov9,4.0,5998,RIGHT,5227.0,1002.60,168.00,False,True,966.215380,13.682199

In [8]:
new_df = df.merge(series_id_df, on = [config.SUBJECT, config.MOVIE])
new_df

,Subject,Session,Movie,Memory,TimeStamp,Measured Eye,Pupil radius,X_gaze,Y_gaze,is Blink,is Fixation,Distance,DVA,series_id
0,AM45,Session A,mov1,-4.0,468,BOTH,4942.0,1077.50,1057.00,True,False,1090.056535,18.845310,460
1,AM45,Session A,mov1,-4.0,470,BOTH,5111.5,1081.75,996.75,True,False,1047.103445,18.078720,460
2,AM45,Session A,mov1,-4.0,472,BOTH,5262.0,1085.75,941.25,True,False,1009.178193,17.400632,460
3,AM45,Session A,mov1,-4.0,474,BOTH,5405.5,1088.00,889.00,True,False,973.932749,16.770714,460
4,AM45,Session A,mov1,-4.0,476,BOTH,5543.0,1085.25,841.25,True,False,939.515367,16.159015,460
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6192400,ZN05,Session B,mov9,4.0,5990,RIGHT,5225.0,1002.00,168.00,False,True,966.786947,13.690241,834
6192401,ZN05,Session B,mov9,4.0,5992,RIGHT,5230.0,1002.60,168.00,False,True,966.215380,13.682199,834
6192402,ZN05,Session B,mov9,4.0,5994,RIGHT,5231.0,1003.20,168.00,False,True,965.643847,13.674159,834
6192403,ZN05,Session B,mov9,4.0,5996,RIGHT,5228.0,1003.20,168.00,False,True,965.643847,13.674159,834
6192404,ZN05,Session B,mov9,4.0,5998,RIGHT,5227.0,1002.60,168.00,False,True,966.215380,13.682199,834

In [9]:
df = new_df[['series_id', config.TIMESTAMP, config.gaze_X, config.gaze_Y, config.PUPIL, config.DVA, config.SESSION]]
df[config.SESSION] = (df[config.SESSION] == config.SESSION_B).astype(int)
df

C:\Users\user\AppData\Local\Temp/ipykernel_25396/2524482158.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[config.SESSION] = (df[config.SESSION] == config.SESSION_B).astype(int)

,series_id,TimeStamp,X_gaze,Y_gaze,Pupil radius,DVA,Session
0,460,468,1077.50,1057.00,4942.0,18.845310,0
1,460,470,1081.75,996.75,5111.5,18.078720,0
2,460,472,1085.75,941.25,5262.0,17.400632,0
3,460,474,1088.00,889.00,5405.5,16.770714,0
4,460,476,1085.25,841.25,5543.0,16.159015,0
...,...,...,...,...,...,...,...
6192400,834,5990,1002.00,168.00,5225.0,13.690241,1
6192401,834,5992,1002.60,168.00,5230.0,13.682199,1
6192402,834,5994,1003.20,168.00,5231.0,13.674159,1
6192403,834,5996,1003.20,168.00,5228.0,13.674159,1
6192404,834,5998,1002.60,168.00,5227.0,13.682199,1

In [10]:
df.to_pickle(config.POPULATION+"_series_df.pkl")